# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Logs
logs/
*.log

# Secrets & Keys
*.pem
*.key

# Environment Variables
.env

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db